@model Programowanie_Zaawansowane_Laboratorium_1.Models.Books

@{
    ViewData["Title"] = "Usuń";
}

<section class="headline">
    Książki
</section>

<section class="text">
    <h4 style="margin-top: 6px; margin-bottom: 26px">Jesteś pewien, że chcesz usunąć?</h4>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BorrowDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BorrowDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReturnDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReturnDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BooksAmount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BooksAmount)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Usuń" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-primary">Wróć do listy</a>
        </form>
    </div>
</section>