@model Programowanie_Zaawansowane_Laboratorium_1.Models.Schedule

@{
    ViewData["Title"] = "Szczegóły";
}

<div class="text-center">
    <h1 class="display-4" , style="background-color:cornflowerblue; padding-top:10px; padding-bottom:15px; border-radius:4px">Zajęcia</h1>
</div>

<h4 style="margin-top:26px; margin-bottom:26px">Szczegóły</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartSubjectDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartSubjectDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndSubjectDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndSubjectDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edycja</a>
    <a asp-action="Index" class="btn btn-primary"> Wróć do listy</a>
</div>
